.navb{
    margin-left: 150px;
}
.lists{
    text-decoration: none;
    /* color: white; */
}
.nav-bg{
    background-color: rgb(85, 17, 17);
}

.hoverEffect:hover{
    background-color: rgba(24, 31, 134, 0.603);
}

.ahover:hover{
    background-color: rgba(85, 17, 17, 0.76);
}
